
.lista-suspensa label {
  display: block;
  font-weight: bold;
  font-style: 24px;
  margin-bottom: 8px;
}

.lista-suspensa select {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  padding: 24px;
  font-size: 24px;
}
