.colaborador {
  position: relative;
  width: 280px;
}

.colaborador .cabecalho {
  border-radius: 10px 10px 0 0;
}

.colaborador img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  z-index: 1;
}

.colaborador .rodape {
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.18));
}

.colaborador .rodape h4 {
  color: #6278f7;
  font-size: 18px;
  line-height: 22px;
  padding: 0 16px;
}

.deletar {
  position: absolute;
  right: -10px;
  top: -10px;
}

.favoritar {
  margin-top: 15px;
}
